@import url("https://fonts.googleapis.com/css?family=Oxygen");

/* mobile first styles */
body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Oxygen", sans-serif;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/plane.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  animation: 1s fade-in;
}

h1 {
  all: unset;
  position: absolute;
  top: 12vh;
  padding: 10px;
  font-size: 12vw;
}

#file-input {
  display: none;
}

#upload-btn {
  all: unset;
  position: absolute;
  top: 35vh;
  left: 15px;
  padding: 10px;
  font-size: 6vw;
  color: #ffffff;
  background-color: #e26d5a;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
#upload-btn:hover {
  box-shadow: 0px 6px 20px -4px #e26d5a;
}

#file-list-div {
  position: absolute;
  top: 50vh;
  background-color: #282539;
  padding: 0;
  width: 100%;
  opacity: 0.9;
}
#file-list-div > h1 {
  position: relative;
  top: 0px;
}
#file-list {
  position: relative;
  all: unset;
}
#file-list > li {
  margin: 25px 0px 25px 0px;
  padding-left: 10px;
  border-top: 0.3px solid #ffffff;
  transition: 1s ease-in;
}
#file-list > li > h3 {
  color: #e26d5a;
}
.download-btn {
  all: unset;
  position: relative;
  top: 1.5vh;
  padding: 10px;
  font-size: 4vw;
  color: #ffffff;
  background-color: #e26d5a;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.download-btn:hover {
  box-shadow: 0px 6px 20px -4px #e26d5a;
}

@media only screen and (min-width: 500px) {
  #upload-btn {
    top: 40vh;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 10vw;
  }
  #upload-btn {
    font-size: 4vw;
  }
  #file-list-div > h1 {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 8vw;
  }
  #upload-btn {
    font-size: 3vw;
  }
  #file-list-div > h1 {
    font-size: 6vw;
  }
  #file-list > li > button {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 950px) {
  h1 {
    font-size: 7vw;
  }
  #upload-btn {
    top: 30vh;
    font-size: 3vw;
  }
  #file-list-div > h1 {
    font-size: 5vw;
  }
  #file-list > li > button {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 6vw;
  }
  #upload-btn {
    top: 35vh;
    font-size: 2.5vw;
  }
  #file-list-div > h1 {
    font-size: 3vw;
  }
  #file-list > li > button {
    font-size: 1.5vw;
  }
}
