@import url("https://fonts.googleapis.com/css?family=Oxygen");

/* mobile first styles */
body,
html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Oxygen", sans-serif;
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  background-image: url("../images/plane.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: 1s fade-in;
}

h1 {
  all: unset;
  position: absolute;
  top: 12vh;
  padding: 10px;
  font-size: 12vw;
}

#email-div {
  display: block;
  position: absolute;
  top: 25vh;
  padding: 10px;
}

#password-div {
  display: block;
  position: absolute;
  top: 40vh;
  padding: 10px;
}

label {
  font-size: 8vw;
}

input {
  all: unset;
  background: #ffffff;
  color: #313131;
  font-size: 5vw;
  padding: 5px;
  height: 5vh;
  width: 60vw;
  transition: 100ms ease-in-out;
}
input:focus {
  border: 1px solid #ffffff;
}

#submit-btn {
  all: unset;
  position: absolute;
  top: 60vh;
  left: 10px;
  padding: 10px;
  font-size: 6vw;
  color: #ffffff;
  background-color: #e26d5a;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
#submit-btn:hover {
  box-shadow: 0px 6px 20px -4px #e26d5a;
}

#register-link {
  display: block;
  position: absolute;
  top: 75vh;
  font-size: 6vw;
  background-color: #282539;
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
}
#register-link > p {
  padding-left: 10px;
}
#register-link > p > a {
  all: unset;
  color: #e26d5a;
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  h1 {
    font-size: 8vw;
  }
  label {
    font-size: 5vw;
  }
  input {
    font-size: 3vw;
    width: 30vw;
    height: 4vh;
  }
  #submit-btn {
    font-size: 4vw;
  }
  #register-link {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 850px) {
  /* For desktop: */
  h1 {
    font-size: 6vw;
  }
  label {
    font-size: 4vw;
  }
  input {
    font-size: 2vw;
    width: 30vw;
    height: 3vh;
  }
  #submit-btn {
    font-size: 3vw;
  }
  #register-link {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 4vw;
  }
  label {
    font-size: 2vw;
  }
  input {
    font-size: 1.5vw;
    width: 30vw;
    height: 4vh;
  }
  #submit-btn {
    font-size: 2vw;
  }
  #register-link {
    font-size: 2vw;
  }
}
