@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#generic-modal,
#delete-warn-modal {
  display: none;
  position: fixed;
  top: 15vh;
  left: 10vw;
  z-index: 1;
  width: 75%;
  height: auto;
  background-color: #282539;
  color: #ffffff;
  font-size: 6vw;
  text-align: center;
  padding: 10px;
  border-radius: 3%;
  animation: fade-in 300ms;
}
#generic-modal > button {
  all: unset;
  position: relative;
  top: 6vh;
  padding: 5px;
  font-size: 6vw;
  background-color: #e26d5a;
  color: #ffffff;
  transition: 300ms ease-in;
  cursor: pointer;
}
#generic-modal > button:hover {
  box-shadow: 0px 6px 20px -4px #e26d5a;
}

#delete-warn-modal > button {
  all: unset;
  position: relative;
  padding: 5px;
  margin: 0px 20px 0px 20px;
  width: 15vw;
  font-size: 6vw;
  background-color: #e26d5a;
  color: #ffffff;
  transition: 300ms ease-in;
  cursor: pointer;
}
#delete-warn-modal > button:hover {
  box-shadow: 0px 6px 20px -4px #e26d5a;
}

@media only screen and (min-width: 550px) {
  #generic-modal,
  #delete-warn-modal {
    font-size: 5vw;
  }
  #generic-modal > button {
    top: 0vh;
    font-size: 5vw;
  }

  #delete-warn-modal > button {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 780px) {
  #generic-modal,
  #delete-warn-modal {
    width: 60%;
    font-size: 4vw;
  }
  #generic-modal > button {
    top: 0vh;
    font-size: 4vw;
  }

  #delete-warn-modal > button {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 950px) {
  #generic-modal,
  #delete-warn-modal {
    left: 25vw;
    height: 35vh;
    width: 40%;
    font-size: 2vw;
  }
  #generic-modal > button {
    top: 0vh;
    font-size: 2vw;
  }

  #delete-warn-modal > button {
    font-size: 2vw;
  }
}
